@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');

#main {
    padding: 5px;
}

#title {
    font-size: 72px;
    font-family: 'Kalam', cursive;
    justify-content: center;
    text-align: center;
    background-color: whitesmoke;
}

#title p {
    font-size: 24px;
    padding: 0px 0px 5px 0px;
    margin-top: 0px;
}

#image {
    width: 100%;
    max-width: 600px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

#img-caption {
    font-family: 'Kalam', cursive;
    font-size: 300;
    text-align: center;
}

#tribute-info {
    background-color: whitesmoke;
    padding: 10px;
}

ul {
    font-family: 'Kalam', cursive;
    font-size: larger;
    font-weight: 400;
    justify-content: center;
    text-align: left;
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

footer {
    color: white;
    font-family: 'Kalam', cursive;
    font-size: larger;
    font-weight: 700;
    background-color: rgb(150, 159, 160);
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
    width: 100%;
}
