#main {
    padding: 5px;
}

#title {
    font-size: 36px;
    justify-content: center;
    text-align: center;
}

#img-div {
    justify-content: center;
}

#tribute-info {
    background-color: antiquewhite;
    justify-content: center;
    text-align: left;
    width: 60%;
}
